In [2]:
import pandas as pd
from IPython.display import display

# Read CSV with correct delimiter and decimal settings
# - sep=';' because the file uses semicolons
# - decimal=',' to parse numbers like 10669,84
# - on_bad_lines='skip' to ignore any malformed rows
# - engine='python' for more robust parsing

df = pd.read_csv(
    'SalesData.csv',
    sep=';',
    decimal=',',
    on_bad_lines='skip',
    engine='python'
)

# Parse dates (day-first format like 01.01.07)
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

# Quick preview and schema
display(df.head())
df.info()

C:\Users\thieu\AppData\Local\Temp\ipykernel_21476\1191881110.py:19: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

,OrderNumber,OrderItem,Date,Customer,CustDescr,City,SalesOrg,Country,Product,ProdDescr,...,CatDescr,Division,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,RevenueUSD,DiscountUSD,CostsUSD
0,100001,10,2007-01-01,17000,Cruiser Bikes,Hannover,DN00,DE,PRTR1000,Professional Touring Bike-Black,...,Touring Bike,BI,4,ST,10669.84,EUR,320.10,14080.02,422.41,8320.0
1,100001,20,2007-01-01,17000,Cruiser Bikes,Hannover,DN00,DE,DXTR1000,Deluxe Touring Bike-Black,...,Touring Bike,BI,8,ST,20005.92,EUR,600.18,26400.00,792.00,15600.0
2,100001,30,2007-01-01,17000,Cruiser Bikes,Hannover,DN00,DE,DXRD2000,Road Bike Alu SRAM,...,Roadbike,BI,2,ST,2750.82,EUR,82.52,3630.01,108.89,2046.0
3,100001,40,2007-01-01,17000,Cruiser Bikes,Hannover,DN00,DE,ORWN1000,Women's Off Road Bike Fully,...,Offroad Bike,BI,5,ST,10419.75,EUR,312.59,13750.00,412.50,7500.0
4,100002,10,2007-01-03,15000,Bavaria Bikes,München,DS00,DE,PRTR1000,Professional Touring Bike-Black,...,Touring Bike,BI,4,ST,10669.84,EUR,533.49,14052.21,702.61,8320.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171010 entries, 0 to 171009
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   OrderNumber    171010 non-null  int64
 1   OrderItem      171010 non-null  int64
 2   Date           171010 non-null  datetime64[ns]
 3   Customer       171010 non-null  int64
 4   CustDescr      171010 non-null  object
 5   City           171010 non-null  object
 6   SalesOrg       171010 non-null  object
 7   Country        171010 non-null  object
 8   Product        171010 non-null  object
 9   ProdDescr      171010 non-null  object
 10  ProdCat        171010 non-null  object
 11  CatDescr       171010 non-null  object
 12  Division       171010 non-null  object
 13  SalesQuantity  171010 non-null  int64
 14  UnitOfMeasure  171010 non-null  object
 15  Revenue        171010 non-null  float64
 16  Currency       171010 non-null  object
 17  Discount       171010 non-null  float64
 18  RevenueUSD     171010 non-null  float64
 19  DiscountUSD    171010 non-null  float64
 20  CostsUSD       171010 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(4), object(11)
memory usage: 27.4+ MB

# Unique pairs: Product × Division

- Unique combinations only
- Pairs with frequency (descending)
- Number of distinct pairs

If needed, change the column names to match your data frame.

In [4]:
# Unique Product–Division pairs
import pandas as pd
from IPython.display import display

# 1) Unique combinations only
unique_pairs = df[['CustDescr', 'City', 'SalesOrg']].drop_duplicates()
print(f"Distinct pairs: {len(unique_pairs):,}")
display(unique_pairs.head(20))

# 2) Frequency of each pair (descending)
pair_counts = (
    df.value_counts(['CustDescr', 'City', 'SalesOrg'])
      .reset_index(name='count')
      .sort_values('count', ascending=False)
)
display(pair_counts.head(20))

# 3) Optional checks (uncomment as needed)
# How many divisions per product?
# divisions_per_product = df.groupby('Product')['Division'].nunique().sort_values(ascending=False)
# display(divisions_per_product.head(20))

# Products mapped to more than one Division (potential data issue)
# multi_div_products = divisions_per_product[divisions_per_product > 1]
# display(multi_div_products)

Distinct pairs: 24

                  CustDescr           City SalesOrg
0             Cruiser Bikes       Hannover     DN00
4             Bavaria Bikes        München     DS00
11               Rädlelland      Stuttgart     DS00
25           Alster Cycling        Hamburg     DN00
37          Red Light Bikes        Hamburg     DN00
54            Capital Bikes         Berlin     DN00
90                 Fahrpott         Bochum     DN00
92                Ostseerad         Anklam     DN00
127               Neckarrad     Heidelberg     DS00
167           Airport Bikes      Frankfurt     DS00
183                Velodrom      Magdeburg     DN00
227               Drahtesel        Leipzig     DN00
66242       Big Apple Bikes  New York City     UE00
66243        Beantown Bikes         Boston     UE00
66245              DC Bikes  Washington DC     UE00
66272      Windy City Bikes        Chicago     UE00
66278           SoCal Bikes         Irvine     UW00
66283          Philly Bikes   Philadelphia     UE00
66293       Peachtree Bikes        Atlanta     UE00
66305  Furniture City Bikes   Grand Rapids     UE00

               CustDescr           City SalesOrg  count
0          Bavaria Bikes        München     DS00  13048
1         Beantown Bikes         Boston     UE00  12632
2             Rädlelland      Stuttgart     DS00  10084
3          Capital Bikes         Berlin     DN00   9805
4   Silicon Valley Bikes      Palo Alto     UW00   8625
5        Red Light Bikes        Hamburg     DN00   8041
6        Big Apple Bikes  New York City     UE00   7597
7              Neckarrad     Heidelberg     DS00   7148
8       Windy City Bikes        Chicago     UE00   6757
9           Motown Bikes        Detroit     UE00   6696
10      Northwest Bikes         Seattle     UW00   6660
11         Cruiser Bikes       Hannover     DN00   6636
12         Airport Bikes      Frankfurt     DS00   6577
13        Alster Cycling        Hamburg     DN00   6484
14           SoCal Bikes         Irvine     UW00   6439
15  Rocky Mountain Bikes         Denver     UW00   6425
16              DC Bikes  Washington DC     UE00   6422
17          Philly Bikes   Philadelphia     UE00   6353
18       Peachtree Bikes        Atlanta     UE00   6284
19              Fahrpott         Bochum     DN00   5600

In [ ]:
# Unique Product–Division pairs
import pandas as pd
from IPython.display import display

# 1) Unique combinations only
unique_pairs = df[['Customer', 'CustDescr']].drop_duplicates()
print(f"Distinct pairs: {len(unique_pairs):,}")
display(unique_pairs.head(20))

# 2) Frequency of each pair (descending)
pair_counts = (
    df.value_counts(['Customer', 'CustDescr'])
      .reset_index(name='count')
      .sort_values('count', ascending=False)
)
display(pair_counts.head(20))

# 3) Optional checks (uncomment as needed)
# How many divisions per product?
# divisions_per_product = df.groupby('Product')['Division'].nunique().sort_values(ascending=False)
# display(divisions_per_product.head(20))

# Products mapped to more than one Division (potential data issue)
# multi_div_products = divisions_per_product[divisions_per_product > 1]
# display(multi_div_products)

Distinct pairs: 24

       Customer             CustDescr
0         17000         Cruiser Bikes
4         15000         Bavaria Bikes
11        22000            Rädlelland
25        14000        Alster Cycling
37        23000       Red Light Bikes
54        16000         Capital Bikes
90        19000              Fahrpott
92        21000             Ostseerad
127       20000             Neckarrad
167       13000         Airport Bikes
183       24000              Velodrom
227       18000             Drahtesel
66242      2000       Big Apple Bikes
66243      5000        Beantown Bikes
66245     11000              DC Bikes
66272      6000      Windy City Bikes
66278      9000           SoCal Bikes
66283      3000          Philly Bikes
66293      4000       Peachtree Bikes
66305      7000  Furniture City Bikes

    Customer             CustDescr  count
0      15000         Bavaria Bikes  13048
1       5000        Beantown Bikes  12632
2      22000            Rädlelland  10084
3      16000         Capital Bikes   9805
4      10000  Silicon Valley Bikes   8625
5      23000       Red Light Bikes   8041
6       2000       Big Apple Bikes   7597
7      20000             Neckarrad   7148
8       6000      Windy City Bikes   6757
9       8000          Motown Bikes   6696
10     12000      Northwest Bikes    6660
11     17000         Cruiser Bikes   6636
12     13000         Airport Bikes   6577
13     14000        Alster Cycling   6484
14      9000           SoCal Bikes   6439
15      1000  Rocky Mountain Bikes   6425
16     11000              DC Bikes   6422
17      3000          Philly Bikes   6353
18      4000       Peachtree Bikes   6284
19     19000              Fahrpott   5600